.rotate-button {
  position: absolute;
  right: 50px;
  top: 8px;
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 10px;
  transition: ease .4s;
  cursor: pointer;
  background: white;
  box-sizing: content-box;
}
.rotate-button > img {
  transition: ease .5s;
}
.rotate-button:hover > img {
  transform: rotate(-90deg);
}