
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
}
.nav__item {
  position: relative;
}
.header__link {
  font-size: 16px;
}
.nav__item-line {
  height: 2px;
  position: absolute;
  left: 50%;
  right: 50%;
  background: #ff8a65;
  transition: ease .5s;
}
.nav__item:hover .nav__item-line {
  left: 0;
  right: 0;
}
.header__link {
  color: #adadad;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  transition: ease .5s;
}

.header__link:hover {
  color: #ff8a65 !important;
}
.header__link.active {
  color: #ff8a65 !important;
}
.header__admin .header__link, .header__main .header__link {
  transition: none;
  color: black;
}
@media (max-width: 500px) {
  .nav {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 0;
  }
  .nav__item {
    padding: 5px;
    width: 80%;
    text-align: center;
  }
  .side-nav.opened {
    height: initial;
  }
}